*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/Manifest.toml.bk
/docs/build/
Manifest.toml.bak
src/BA-Trees/src/temp_ba_trees/*
src/lumen/reportAlphabet.jl
abc.history
forest.txt
src/BA-Trees/src/bornAgain
src/BA-Trees/src/born_again_dp/*
src/BA-Trees/src/born_again_dp
